<!DOCTYPE html>
<html lang="ja">
<head>
</head>
<body>
    <form action="/" method="post" enctype="multipart/form-data">
        <input type="file" id="imageUpload" name="test" onchange="loadFile(event)"><br>
        <input type="radio" id="ocr2" name="ocr" value="ocr2">
        <label for="ocr2">平均法</label><br>
        <input type="radio" id="ocr3" name="ocr" value="ocr3">
        <label for="ocr3">k平均法</label><br>
        <input type="radio" id="ocr4" name="ocr" value="ocr4">
        <label for="ocr4">混合ガウス分布</label><br>
        <input type="submit" value="OCRをかける">
    </form>
    <p>選択した画像:</p>
    <img id="output"/>
    <p>読取結果:{{ result }}</p>
    <script>
    var loadFile = function(event) {
        var output = document.getElementById('output');
        output.src = URL.createObjectURL(event.target.files[0]);
        output.onload = function() {
            URL.revokeObjectURL(output.src) // free memory
        }
    };
    </script>
</body>
</html>

